@model IEnumerable<AutokolcsonzoProjekt.Models.Auto>

@{
    ViewData["Title"] = "Index";
}

<h1>Autók Listája</h1>

@if(User.IsInRole("User") || User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<form asp-action="Index" method="get">
    <p>
        Szűrők:
        <input type="text" name="rendszam" value="@ViewData["AktualisRendszamSzuro"]" placeholder="Rendszám" />
        <input type="text" name="meghajtas" value="@ViewData["AktualisMeghajtasSzuro"]" placeholder="Meghajtás" />
        <input type="submit" value="Keresés" class="btn btn-primary" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rendszam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meghajtas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uj)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Rendszam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Meghajtas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Uj)
                </td>
                <td>
                    @if (User.IsInRole("User") || User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item?.ID">Edit</a>
                        <span> | </span>
                    }

                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    @if ( User.IsInRole("Admin"))
                    {
                        <a asp-action="Delete" asp-route-id="@item?.ID">Delete</a>
                        <span> | </span>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>